asgiref
certifi
chardet
coreapi
coreschema
Django
django-cors-headers
django-environ
djangorestframework
drf-yasg
gevent
grequests
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
psycopg2
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
uritemplate
urllib3
zope.event
zope.interface
